.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
jspm_packages/
*.tsbuildinfo
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.envrc
*.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*~
coverage
tmp/
temp/
package-lock.json
yarn.lock
node_modules/
*.log
*.log.*
*.log-*
*.log/*
firebase-backup/